@font-face {
  font-family: Qurova;
  src: url("./font/Qurova/QurovaDEMO-Regular.otf") format("opentype");
}
@font-face {
  font-family: Qurova;
  src: url("./font/Qurova/QurovaDEMO-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: Liebling;
  src: url("./font/Liebling/fonnts.com-Liebling_Medium.otf") format("opentype");
  font-weight: 500;
}

@import "tailwindcss";
@theme {
  --font-primary: "Liebling";
  --animate-pulseAni: pulse-animation 1s ease-in-out infinite;
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
  --animate-shake: shake 0.2s;
  @keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
  --animate-verticalShake: vertical-shaking 1s infinite;
  @keyframes vertical-shaking {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-5px);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .autoColumn {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
  }
  .fixed-center {
    @apply fixed left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
  }
}
body {
  @apply font-primary transition-colors duration-500;
}
.scrollBar-hidden::-webkit-scrollbar {
  display: none;
}
.test-color {
  background-color: #e9e9e991;
}
