@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
  font-family: Qurova;
  src: url("/font/Qurova/QurovaDEMO-Regular.otf") format("opentype");
}
@font-face {
  font-family: Qurova;
  src: url("/font/Qurova/QurovaDEMO-Medium.otf") format("opentype");
  font-weight: 500;
}

@import "tailwindcss";
@theme {
  --font-primary: "Lexend";
  --animate-pulseAni: pulse-animation 1s ease-in-out infinite;
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
}
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .autoColumn {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
  }
  .fixed-center {
    @apply fixed left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
  }
}
body {
  @apply font-primary transition-all duration-500;
}
.scrollBar-hidden::-webkit-scrollbar {
  display: none;
}
